<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <title>Job Scrapper</title>
  <style>
    hgroup a {
      margin-top: 25px;
      margin-left: 10px;
    }
  </style>
</head>
<body>
 <main class="container">
    <hgroup>
      <h1>Search Results for "{{keyword}}":</h1>
      <a href="/export?keyword={{keyword}}" target="_blank">Export to file 📂</a>
    </hgroup>
  <figure>
    <table role="grid">
     <thead>
      <tr>
        <th>Position</th>
        <th>Company</th>
        <th>Location</th>
        <th>Link</th>
      </tr>
     </thead>
      <tbody>
      {% for job in jobs %}
        <tr>
          <td>{{job.position}}</td> 
          <td>{{job.company}}</td>
          <td>{{job.location}}</td>
          <td><a href="{{job.link}}" target="_blank">Apply now &rarr; 🤞</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </figure>
 </main>
  <script>
    function themeChange() {
      var currentTheme = localStorage.getItem('theme');
      console.log(currentTheme);
      var html = document.documentElement;
      
      if (currentTheme === "dark") {
        targetTheme = "dark";
      } else {
        targetTheme = "light";
      }
      html.setAttribute('data-theme', targetTheme);
      localStorage.setItem('theme', targetTheme);
    };
    
    themeChange();
</script>
</body>
</html>
